*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif ;

}

.bigbox {
    height: 100vh  ;
    min-width: 100vh  ;
    background-color: #FFFFFF ;
}
.navbar {
    display: flex;
    justify-content: center ; 
    text-align: center ;
    background-color: aqua ;
    height: 50px ;
    background-color: #FFFFFF ;
}


#logo{
    color: #060a45;
    font-size: 36px;
    font-weight:100px  ;
    margin-right: 235px ;
    margin-top: 15px ;
     
}
a{  padding-right: 40px  ;
    font-size: 20px;
    font-style: none;
    color: black;
    text-decoration: none;
}



button{
    background-color: #060e7a;
    width: 3cm;
    height: 0.9cm;
    border-radius: 9px;
    color: white;
    font-size: 20px;
    padding: 3px;
}

.login{
    margin-right: 50px;
    margin-left: 180px;
}
.main {
    display: flex; 
    justify-content: center ;
    text-align: center ;
    padding-top: 165px ;
}

h1{
    font-size: 60px;
    text-align: center;
    color: #01053a;
    margin-left: 40px;
    padding-top: 15px ;
}

h{
    font-size: 22px;
    display: flex;
    justify-content: center;
    color: #01053a;
    padding-top: 70px ;
}

#start{
    padding-top: 40px ;
    text-align: center;
}
.button2 {
    background-color: #222684  ;
    height: 35px ;
    width: 135px ;
    text-align: center ;
    padding-right: 5px ;
    margin-right: 69px ;
    font-weight: 25px ;
}
.text1 {
    font-weight: bold ;
    font-size: 20px ;
    padding-top: 3px ;
    
}

