*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: Arial, Helvetica, sans-serif ;

}

.bigbox {
    height: 100vh  ;
    min-width: 100vh  ;
    background-color: #FFFFFF ;
}
.navbar {
    position: relative ;
    display: flex;
    justify-content: center ; 
    text-align: center ;
    background-color: #1A1F32 ;
    height: 55px ;
    
}


#logo{
    position:relative ;
    top : 10px ; 
    color:#FFFFFF;
    font-size: 36px;
    font-weight:100px  ;
    margin-top:50px ;
    margin-right: 235px ;
    
}
a{  position: relative ;
    top : 2px ; 
    right: 160px ;
    font-size: 20px;
    text-align: center ;
    font-style: none;
    color: #FFFFFF ;
    text-decoration: none;
    padding-right: 35px ;
}



button{
    position: relative;
    top : 3px ; 
    left : 150px ; 
    background-color:#5E778D;
    width: 120px ;
    height: 1cm;
    border-radius: 9px;
    color: white;
    font-size: 20px;
    padding: 3px;
}

.login{
    margin-right: 50px;
    margin-left: 180px;
}
.main {
    display: flex; 
    justify-content: center ;
    text-align: center ;
    padding-top: 165px ;
}



h1{
    font-size: 60px;
    color: #01053a;
    position: absolute ;
    right: 19cm ;
    bottom: 8cm ;
}

h{  position: relative  ;
    bottom : 8.5cm ; 
    right : 9.2cm ; 
    font-size: 22px;
    display: flex;
    justify-content: center ;
    color: #01053a;
    padding-top: 100px ;
}
span {
    color : #87CEEB;  
}

#start{
    position: relative;
    bottom: 8.5cm;
    right: 16cm ;
    padding-top: 40px ;
    text-align: center;
}

  .button2 {
    background-color: #222684;
    height: 40px;
    width: 145px;
    box-shadow: 2px 2px black;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button2:hover {
    background-color: #ffffff;
    color: black;
}

    



.text1 {
    font-weight: bold ;
    font-size: 20px ;
    padding-top: 3px ;
    
}
.text2{
    padding-bottom: 45px ;
}

img{
    width :100% ;
    height: auto ;
}
.ig1{ 
    position: relative  ;
    right: 20px ;
    bottom: 135px ;
    left: 447px  ;
    border-radius: 10px ;

    
} 